@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya&display=swap');

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  /* height: 100%; */
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  font-family: 'Noto Serif Oriya', serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.jumbotron {
  background: rgb(255,224,237);
  background: radial-gradient(circle, rgba(255,224,237,0.7721463585434174) 0%, rgba(222,222,255,0.7301295518207283) 100%);
}

.hidden {
  display: none;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 1.25rem 1.8rem;
  padding-top: 1.8rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 47px;
  padding: 10px 38px 5px 16px !important;
  width: 40%;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.custom-select:hover {
  border: 1px solid #999;
}

.custom-select:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  outline: none;
}

.custom-select {
  font-size: 1.6rem;
}

.bold {
  font-weight: bold;
  color: rgb(54, 105, 199);
}

.wrong-input {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: none;
}

.number {
  background: #FFF;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}